.info-container {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    
    
    
  }
  .info-box-display {
    background-color: white;
    width: 450px;
    height: 600px;
    position: relative;
    border: 1px solid black; /* Border around the entire wrapper */
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden; /* Prevents horizontal scrolling */
  }
  .info-box {
    width: 450px;
    height: 600px;
    position: relative;
   
  }


.first-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }

.second-image {
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    position: absolute;
    left : 50%;
  }



  .title {
    position: absolute;
    padding-left: 5%;
    left: 0;
    width: 70%;
    top: 65%;
    font-weight: bold;
    font-size: 2rem;
    
    
  }

  .subtitle {
    position: absolute;
    padding-left: 5%;
    left: 0;
    top: 72%;
    width: 90%;
    
    
  }


  .number {
    position: absolute;
    padding-left: 5%;
    left: 0;
    top: 27%;
    font-weight: bold;
    font-size: 2rem;
  }
  .arrow {
    position: absolute;
    padding-left: 5%;
    left: 0;
    top: 2%;
    font-weight: bold;
    font-size: 3rem;
  }

  .bannerImage {
    position: absolute;
    top: 240px; /* Centers vertically */
    left: 48%; /* Centers horizontally */
    transform: translate(-50%, -50%); /* Adjusts for the element's own dimensions */
    width: 89%; /* Adjust the width as needed */
    
  }
  .bannerText   {
    
    position: absolute;
    padding-left: 5%;
    top: 480px;
    right: 10%;
    font-size: 1.2rem;
    
  }

  .third-image {
    position: absolute;
    top: 866px; /* Centers vertically */
    left: 48%; /* Centers horizontally */
    transform: translate(-50%, -50%); /* Adjusts for the element's own dimensions */
    width: 100%; /* Adjust the width as needed */
  }

 