.devider-container {
    background-color: black; /* Black background */
    color: white; /* White text color */
    text-align: center; /* Centers the text */
    padding: 1rem 0; /* Adds vertical padding */
    font-size: 1.2rem; /* Adjusts the text size */
    display: block;
    margin-top: 35px;
}

@media screen and (max-width: 768px) {
    .devider-container {
        display: none;
    }
}
