.about-container {
    display: flex;
    justify-content: space-between; /* Adds space between the sections */
    padding-top: 110px;
    line-height: 1.2;
    padding-left: 5%;
    padding-right: 5%; /* Adds padding to the left and right sides */
}

.about-left {
    padding-top: 100px; /* Adds padding to the top of the left section */
    max-width: 30%; /* Limits the width of the left section */
}

.about-right {
    padding-right: 40px;
    position: relative;
    max-width: 55%; /* Limits the width of the right section */
}

.about-title {
    font-size: 3.5rem; /* Adjusts the size of the "Mission" title */
}

.mission-description {
    padding-right: 90px;
    font-size: 1.7rem; /* Adjusts the size of the description text */
    margin-bottom: 1rem; /* Adds spacing between paragraphs */
}

.founded-subtitle {
    position: absolute; /* Allows precise positioning relative to .about-right */
    top: 4%; /* Aligns the subtitle with the top of the container */
    left: -80px; /* Moves the subtitle to the left of the main heading */
    font-size: 1.5rem; /* Adjusts the size of the "about" subtitle */
}

.founded-text {
    font-size: 2.7rem; /* Adjusts the size of the text */
    margin-bottom: 0.5rem; /* Adds spacing between paragraphs */
}
.about-arrow {
    padding-top: 30px;
    font-size: 4rem; /* Adjusts the size of the arrow */
    color: #000; /* Adjusts the color of the arrow */
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        padding-top: 30px;
        margin-bottom: 30px;
        gap: 2rem;
        padding-right: 0;
    }

    .about-left {
        display: none;
    }
    .about-arrow {
        display: none;
    }
    .about-right {
        max-width: 100%;
        padding-right: 0;
    }

    .about-title {
        font-size: 2rem;
        margin-bottom: 0;
        font-weight: bold;
    }

    .founded-subtitle {
        position: relative;
        left: 0;
        font-size: 2.2rem;
        margin-bottom: 0.25rem;
        display: block;
        font-weight: bold;
        padding-bottom: 10px;
    }
    .founded-subtitle::first-letter {
        text-transform: uppercase;
    }
    .nel2021 {
        font-size: 1.6rem;
    }

    .founded-text {
        padding-top: 7px;
        font-size: 1.5rem;
        line-height: 1.2;
        width: 85%;
    }
    .extra-text {
        display: none; /* Hides the extra text on smaller screens */
    }
}
