.deviderMobile-container {
    display: none;
}

@media screen and (max-width: 768px) {
    .deviderMobile-container {
        background-color: black; /* Black background */
        color: white; /* White text color */
        text-align: center; /* Centers the text */
        padding: 0.3rem; /* Adds vertical padding */
        margin-top: 40px;
        font-size: 1.2rem; /* Adjusts the text size */
        display: block;
        text-align: left;
        padding-left: 50px;
    }
}
