.about-container {
    display: flex; 
    justify-content: space-between; /* Adds space between the sections */
    padding-top: 110px; ;
    line-height: 1.2;
    padding-left: 5%;
    padding-right: 5%; /* Adds padding to the left and right sides */
    padding-left: 5%; /* Adds padding to the bottom */
    
  }
  
  .about-left {
    padding-top: 50px; /* Adds padding to the top of the left section */
    max-width: 30%; /* Limits the width of the left section */
  }
  
  .about-right {
    position: relative;
    max-width: 55%; /* Limits the width of the right section */
  }
  
  .about-title {
    font-size: 3.5rem; /* Adjusts the size of the "Mission" title */
    
  }
  
  .mission-description {
    
    font-size: 1.5rem; /* Adjusts the size of the description text */
    margin-bottom: 1rem; /* Adds spacing between paragraphs */
  }
  
  .about-button {
    display: inline-block; /* Ensures the button behaves like a block element */
    padding: 0.5rem 1.5rem; /* Adds padding inside the button */
    font-size: 1rem; /* Adjusts the font size */
    cursor: pointer; /* Changes the cursor to a pointer */
    border: 2px solid black; /* Adds a solid black border */
    border-radius: 30px; /* Makes the border rounded */
    background-color: transparent; /* Makes the background transparent */
    color: black; /* Sets the text color to black */
    
    font-weight: bold; /* Makes the text bold */
    transition: all 0.3s ease; /* Adds a smooth transition for hover effects */
  }
  
  .about-button:hover {
    background-color: black; /* Changes the background color on hover */
    color: white; /* Changes the text color on hover */
  }
  
  .founded-subtitle {
    position: absolute; /* Allows precise positioning relative to .about-right */
    top: 5%; /* Aligns the subtitle with the top of the container */
    left: -60px; /* Moves the subtitle to the left of the main heading */
    font-size: 1.5rem; /* Adjusts the size of the "about" subtitle */
   
   
  }
  
  .founded-text {
    font-size: 1.85rem; /* Adjusts the size of the text */
    margin-bottom: 1rem; /* Adds spacing between paragraphs */
  }