#root {
  max-width: 1280px;
  margin: 0 auto;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  
  /* display: flex;
  place-items: center; */
  padding-top: 300px;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("images/flowers/bg1_grey.png");
  background-position: center top 400px; /* Moves the background image down by 300px */
  background-repeat: no-repeat;
  background-size: cover;   
  font-family: "myfont"; 
}

@font-face {
  font-family: 'myfont'; 
  src: url('./font.otf') format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
}
